linkedin-bot/linkedin-campaign-workflow.json
{
  "name": "LinkedIn Campaign Automation (Multi-Account)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9-18 * * 1-5" }]
        }
      },
      "id": "cron-trigger",
      "name": "Every Hour (9am-6pm Weekdays)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "readAllRows",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "value": "Leads" },
        "filters": {
          "conditions": [{ "keyName": "status", "condition": "eq", "keyValue": "active" }]
        }
      },
      "id": "read-sheet",
      "name": "Read Active Leads",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [460, 300],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst now = new Date();\nconst filtered = [];\n\nconst delays = { 0: 0, 1: 3, 2: 48, 3: 48, 4: 168, 5: 24 };\n\nfor (const item of leads) {\n  const lead = item.json;\n  const step = parseInt(lead.current_step || '0');\n  const lastAction = lead.last_action_at ? new Date(lead.last_action_at) : null;\n  if (lead.status !== 'active') continue;\n  const requiredHours = delays[step] || 0;\n  const hoursElapsed = lastAction ? (now - lastAction) / 3600000 : 999;\n  if (hoursElapsed >= requiredHours) {\n    filtered.push({ json: { ...lead, step, hoursElapsed: Math.round(hoursElapsed) } });\n  }\n}\n\nreturn filtered;"
      },
      "id": "check-delays",
      "name": "Filter Leads Due for Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": 0, "operator": { "type": "number", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "step0_view" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": 1, "operator": { "type": "number", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "step1_check_connection" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": 2, "operator": { "type": "number", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "step2_msg1" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": 3, "operator": { "type": "number", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "step3_msg2" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": 4, "operator": { "type": "number", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "step4_msg3" },
            { "conditions": { "conditions": [{ "leftValue": "={{ $json.step }}", "rightValue": 5, "operator": { "type": "number", "operation": "equals" } }] }, "renameOutput": true, "outputKey": "step5_msg4" }
          ]
        }
      },
      "id": "route-by-step",
      "name": "Route by Step",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/view-profile",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, account: $json.account }) }}"
      },
      "id": "view-profile",
      "name": "View Profile",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.connectionStatus }}", "rightValue": "connected", "operator": { "type": "string", "operation": "equals" } }]
        }
      },
      "id": "check-connected",
      "name": "Already Connected?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/connect",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, note: $json.connect_note, account: $json.account }) }}"
      },
      "id": "send-connect",
      "name": "Send Connection Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/message",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, message: $json.msg_1, account: $json.account }) }}"
      },
      "id": "send-msg-direct",
      "name": "Send Msg 1 (Already Connected)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/check-reply",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, account: $json.account }) }}"
      },
      "id": "check-reply-2",
      "name": "Check Reply (Step 2)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 320]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.replied }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "replied-check-2",
      "name": "Replied? (Step 2)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/message",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, message: $json.msg_2, account: $json.account }) }}"
      },
      "id": "send-msg-2",
      "name": "Send Message 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 400]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/check-reply",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, account: $json.account }) }}"
      },
      "id": "check-reply-3",
      "name": "Check Reply (Step 3)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.replied }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "replied-check-3",
      "name": "Replied? (Step 3)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 500]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/message",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, message: $json.msg_3, account: $json.account }) }}"
      },
      "id": "send-msg-3",
      "name": "Send Message 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 580]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/check-reply",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, account: $json.account }) }}"
      },
      "id": "check-reply-4",
      "name": "Check Reply (Step 4)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 680]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.replied }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "replied-check-4",
      "name": "Replied? (Step 4)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 680]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/message",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, message: $json.msg_4, account: $json.account }) }}"
      },
      "id": "send-msg-4",
      "name": "Send Message 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 760]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/check-reply",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, account: $json.account }) }}"
      },
      "id": "check-reply-5",
      "name": "Check Reply (Step 5)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 860]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "leftValue": "={{ $json.replied }}", "rightValue": true, "operator": { "type": "boolean", "operation": "equals" } }]
        }
      },
      "id": "replied-check-5",
      "name": "Replied? (Step 5)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 860]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:3000/message",
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify({ profileUrl: $json.linkedin_url, message: $json.msg_5, account: $json.account }) }}"
      },
      "id": "send-msg-5",
      "name": "Send Message 5 (Final)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 940]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nconst now = new Date().toISOString();\nconst currentStep = parseInt(lead.step ?? lead.current_step ?? 0);\nlet newStep = currentStep + 1;\nlet newStatus = newStep > 5 ? 'ended' : 'active';\nif (newStep > 5) newStep = 5;\nreturn [{ json: { ...lead, current_step: newStep, last_action_at: now, status: newStatus } }];"
      },
      "id": "increment-step",
      "name": "Increment Step",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nreturn [{ json: { ...lead, status: 'replied', last_action_at: new Date().toISOString() } }];"
      },
      "id": "mark-replied",
      "name": "Mark as Replied",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "value": "Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "current_step": "={{ $json.current_step }}",
            "status": "={{ $json.status }}",
            "last_action_at": "={{ $json.last_action_at }}"
          }
        },
        "where": {
          "values": [{ "column": "linkedin_url", "value": "={{ $json.linkedin_url }}" }]
        }
      },
      "id": "update-sheet",
      "name": "Update Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-lead",
        "responseMode": "responseNode"
      },
      "id": "new-lead-webhook",
      "name": "New Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [240, 600],
      "webhookId": "new-lead"
    },
    {
      "parameters": {
        "jsCode": "// Generate all 5 messages + connect note for a new lead via Claude API\nconst lead = $input.first().json;\n\nconst response = await fetch('https://api.anthropic.com/v1/messages', {\n  method: 'POST',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': $env.ANTHROPIC_API_KEY,\n    'anthropic-version': '2023-06-01'\n  },\n  body: JSON.stringify({\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 2000,\n    system: `You write LinkedIn outreach messages for JournalTrade (journaltrade.in) — a WhatsApp-based F&O trade journal for Indian retail traders. Traders log trades in natural language, get AI behavioral insights and EOD summaries. Free tier + Rs 299/month Pro.\n\nRules:\n- Peer-to-peer tone, never salesy\n- Reference their specific background\n- Each message under 300 characters\n- msg_1: soft intro after connecting\n- msg_2: specific F&O pain point (emotional trading, no review habit, random position sizing)\n- msg_3: social proof — other traders using it, no pressure\n- msg_4: direct ask — try free tier, 2 mins to set up\n- msg_5: final breakup message, leave door open\n- connect_note: warm note for connection request (max 200 chars)\n\nRespond ONLY with valid JSON, no markdown:\n{\n  \"connect_note\": \"...\",\n  \"msg_1\": \"...\",\n  \"msg_2\": \"...\",\n  \"msg_3\": \"...\",\n  \"msg_4\": \"...\",\n  \"msg_5\": \"...\"\n}`,\n    messages: [{\n      role: 'user',\n      content: `Generate outreach sequence for:\\nName: ${lead.name}\\nHeadline: ${lead.headline}\\nCompany: ${lead.company || 'N/A'}`\n    }]\n  })\n});\n\nconst data = await response.json();\nconst text = data.content[0].text.replace(/```json|```/g, '').trim();\nconst messages = JSON.parse(text);\n\nreturn [{ json: { ...lead, ...messages, current_step: 0, status: 'active', last_action_at: '' } }];"
      },
      "id": "generate-messages",
      "name": "Generate Messages with Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 600]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "value": "YOUR_GOOGLE_SHEET_ID" },
        "sheetName": { "value": "Leads" },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "linkedin_url": "={{ $json.linkedin_url }}",
            "name": "={{ $json.name }}",
            "headline": "={{ $json.headline }}",
            "company": "={{ $json.company }}",
            "account": "={{ $json.account }}",
            "current_step": "={{ $json.current_step }}",
            "status": "={{ $json.status }}",
            "last_action_at": "={{ $json.last_action_at }}",
            "connect_note": "={{ $json.connect_note }}",
            "msg_1": "={{ $json.msg_1 }}",
            "msg_2": "={{ $json.msg_2 }}",
            "msg_3": "={{ $json.msg_3 }}",
            "msg_4": "={{ $json.msg_4 }}",
            "msg_5": "={{ $json.msg_5 }}"
          }
        },
        "where": {
          "values": [{ "column": "linkedin_url", "value": "={{ $json.linkedin_url }}" }]
        }
      },
      "id": "save-new-lead",
      "name": "Save New Lead to Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [680, 600],
      "credentials": { "googleSheetsOAuth2Api": { "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"success\": true, \"message\": \"Lead added and messages generated\" }"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 600]
    }
  ],
  "connections": {
    "Every Hour (9am-6pm Weekdays)": {
      "main": [[{ "node": "Read Active Leads", "type": "main", "index": 0 }]]
    },
    "Read Active Leads": {
      "main": [[{ "node": "Filter Leads Due for Action", "type": "main", "index": 0 }]]
    },
    "Filter Leads Due for Action": {
      "main": [[{ "node": "Route by Step", "type": "main", "index": 0 }]]
    },
    "Route by Step": {
      "main": [
        [{ "node": "View Profile", "type": "main", "index": 0 }],
        [{ "node": "View Profile", "type": "main", "index": 0 }],
        [{ "node": "Check Reply (Step 2)", "type": "main", "index": 0 }],
        [{ "node": "Check Reply (Step 3)", "type": "main", "index": 0 }],
        [{ "node": "Check Reply (Step 4)", "type": "main", "index": 0 }],
        [{ "node": "Check Reply (Step 5)", "type": "main", "index": 0 }]
      ]
    },
    "View Profile": {
      "main": [[{ "node": "Already Connected?", "type": "main", "index": 0 }]]
    },
    "Already Connected?": {
      "main": [
        [{ "node": "Send Msg 1 (Already Connected)", "type": "main", "index": 0 }],
        [{ "node": "Send Connection Request", "type": "main", "index": 0 }]
      ]
    },
    "Send Connection Request": {
      "main": [[{ "node": "Increment Step", "type": "main", "index": 0 }]]
    },
    "Send Msg 1 (Already Connected)": {
      "main": [[{ "node": "Increment Step", "type": "main", "index": 0 }]]
    },
    "Check Reply (Step 2)": {
      "main": [[{ "node": "Replied? (Step 2)", "type": "main", "index": 0 }]]
    },
    "Replied? (Step 2)": {
      "main": [
        [{ "node": "Mark as Replied", "type": "main", "index": 0 }],
        [{ "node": "Send Message 2", "type": "main", "index": 0 }]
      ]
    },
    "Send Message 2": {
      "main": [[{ "node": "Increment Step", "type": "main", "index": 0 }]]
    },
    "Check Reply (Step 3)": {
      "main": [[{ "node": "Replied? (Step 3)", "type": "main", "index": 0 }]]
    },
    "Replied? (Step 3)": {
      "main": [
        [{ "node": "Mark as Replied", "type": "main", "index": 0 }],
        [{ "node": "Send Message 3", "type": "main", "index": 0 }]
      ]
    },
    "Send Message 3": {
      "main": [[{ "node": "Increment Step", "type": "main", "index": 0 }]]
    },
    "Check Reply (Step 4)": {
      "main": [[{ "node": "Replied? (Step 4)", "type": "main", "index": 0 }]]
    },
    "Replied? (Step 4)": {
      "main": [
        [{ "node": "Mark as Replied", "type": "main", "index": 0 }],
        [{ "node": "Send Message 4", "type": "main", "index": 0 }]
      ]
    },
    "Send Message 4": {
      "main": [[{ "node": "Increment Step", "type": "main", "index": 0 }]]
    },
    "Check Reply (Step 5)": {
      "main": [[{ "node": "Replied? (Step 5)", "type": "main", "index": 0 }]]
    },
    "Replied? (Step 5)": {
      "main": [
        [{ "node": "Mark as Replied", "type": "main", "index": 0 }],
        [{ "node": "Send Message 5 (Final)", "type": "main", "index": 0 }]
      ]
    },
    "Send Message 5 (Final)": {
      "main": [[{ "node": "Increment Step", "type": "main", "index": 0 }]]
    },
    "Mark as Replied": {
      "main": [[{ "node": "Update Google Sheet", "type": "main", "index": 0 }]]
    },
    "Increment Step": {
      "main": [[{ "node": "Update Google Sheet", "type": "main", "index": 0 }]]
    },
    "New Lead Webhook": {
      "main": [[{ "node": "Generate Messages with Claude", "type": "main", "index": 0 }]]
    },
    "Generate Messages with Claude": {
      "main": [[{ "node": "Save New Lead to Sheet", "type": "main", "index": 0 }]]
    },
    "Save New Lead to Sheet": {
      "main": [[{ "node": "Webhook Response", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "tags": ["linkedin", "outreach", "journaltrade"]
}
